<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- フラグイン自身の設定 -->
  <PluginSettings>
    <!--
      PlantUMLの使用方法(web/pipe/picoweb)
      
      web
       - Webサーバ上のPlantUMLを使用します。PlantUML(Java/Graphviz)のインストールは不要です。
         PlantUML(Java/Graphviz)のインストールが不要なので構成は楽ですが、オンライン上に情報が流れますし、パフォーマンスはサーバ＆ネットワークの負荷次第です。
         使用するオンラインWebサーバのURLを WebSettings に設定してください。
      pipe
       - PlantUMLをパイプモードで起動します。PlantUML(Java/Graphviz)のインストールが必要です。
         PlantUMLとのやりとりを標準入出力で済ませるので完全にオフラインです。しかし、プラグイン呼び出しの度にPlantUML(Java)プロセスを起動させる事になるので、かなり低速です。
      picoweb
       - PlantUMLをPicoWebモードで起動します。PlantUML(Java/Graphviz)のインストールが必要です。
         PicoWebモードで起動させたPlantUMLは、htwikiが終了するまで起動させたままにするので、起動後のパフォーマンスは最高です。
         PicoWebはプライベートなWebサーバなのでオフラインでも使用できます。ただし、TCPポートを使用するためマルチログイン環境(仮想デスクトップ環境)には向きません。
         PicoWebモードで使用するTCPポート番号を PicoWebSettings に設定してください。
    -->
    <Mode>web</Mode>

    <!--
      PlantUMLの出力フォーマット（png/svg/txt/utxt)
      PlantUMLの使用方法(web/pipe/picoweb)によっては使えないフォーマットがあります。詳しいことはPlantUMLの仕様を確認してください。
      
      png
       - pngで出力します。
      svg
       - svgで出力します。ただし、現状は使い物になりません。
         ※htwiki の WebBrowser は互換モードで動作しているようなので svg要素 を正しく認識できないようです。htwiki の将来に期待しましょう！
      txt
       - アスキーアートで出力します。
      utxt
       - アスキーアート(Unicode)で出力します。
    -->
    <Output>png</Output>
  </PluginSettings>

  <!-- Webモードの設定 -->
  <WebSettings>
    <!-- 使用するURL -->
    <Url>http://www.plantuml.com/plantuml/</Url>
  </WebSettings>

  <!-- PicoWebモードの設定 -->
  <PicoWebSettings>
    <!-- 使用するTCPポート番号 -->
    <Port>8080</Port>
  </PicoWebSettings>

  <!-- Javaの設定(webモードを使用する場合は参照しません) -->
  <JavaSettings>
    <!--
      PlantUML 起動時に使用する Java の場所。
      未設定(空)の場合は、環境変数 JAVA_HOME の設定を参照します。JAVA_HOME が未設定の場合は、環境変数 PATH 上に Java.exe がいると信じて処理します。
      [注意]
       htwikiは32ビットプロセスなので "C:\Program Files" のパスはWOW64によって "C:\Program Files (x86)" にリダイレクトされます。
       もし64ビット版のJavaを "C:\Program Files" 配下にインストールされた場合は 環境変数 %ProgramW6432% を使ってリダイレクトを回避してください。
    -->
    <HomePath></HomePath>
  </JavaSettings>

  <!-- Graphvizの設定(webモードを使用する場合は参照しません) -->
  <GraphvizSettings>
    <!--
      PlantUML が使用する Graphviz の場所。
      未設定(空)の場合は、環境変数 GRAPHVIZ_DOT の設定を参照します。
      [注意]
       htwikiは32ビットプロセスなので "C:\Program Files" のパスはWOW64によって "C:\Program Files (x86)" にリダイレクトされます。
       もし64ビット版のGraphvizを "C:\Program Files" 配下にインストールされた場合は 環境変数 %ProgramW6432% を使ってリダイレクトを回避してください。
    -->
    <DotPath></DotPath>
  </GraphvizSettings>

</configuration>
